@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdminRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Kategori Güncelleme Sayfası</h3>
@using (Html.BeginForm("EditAdminRole", "Authorization", FormMethod.Post))
{

    <div class="form-group">
        @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
        <br />
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Rol")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />

        <button class="btn btn-outline-success">Güncelle</button>


    </div>
}